body {
  font-family: "Montserrat";
}

#title {
  background-color: #FF4C68;
  color: white;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: 900;
}

p {
  color: #8F8F8F;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
}

/* Download Button */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
}

/*Feature Section*/
#features {
  padding:

  7% 5%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #EF8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #FF4C68;
}

/*Testimonials Section*/
#testimonials {
  text-align: center;
  background-color: #EF8172;
  color: #FFF;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  text-align: center;
  background-color: #EF8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}
